$green-color: green;
$yellow-color: yellow;

$font-size: 50px;

$text-decoration-line: underline;

.nav {
  // ! 부모 참조
  &_child1 {
    background-color: azure;
    color: $green-color;
    font-size: $font-size;

    #{text-decoration-line}: $text-decoration-line;
  }
  // ! 부모 참조
  &_child2 {
    background-color: tan;
    color: $yellow-color;
    font-size: $font-size;
    #{text-decoration-line}: $text-decoration-line;
  }
}
