//! 믹스인
@mixin set-color {
  background-color: cornflowerblue;
  font-size: 100px;
}

.nav_1 {
  @include set-color;
}

//! 믹스인 함수
@mixin set-color-dymanic($color, $font-size) {
  background-color: $color;
  font-size: $font-size;
}

.nav_2 {
  @include set-color-dymanic(coral, 100px);
}
